asgiref==3.8.1
defusedxml==0.7.1
diff-match-patch==20230430pip is available: 23.2.1 -> 24.0
Django==5.0.3pdate, run: python.exe -m pip install --upgrade pip
django-extensions==3.2.3WORK_$>
django-import-export==3.3.7
et-xmlfile==1.1.0
MarkupPy==1.14
odfpy==1.4.1
openpyxl==3.1.2
pillow==10.3.0
psycopg2==2.9.9
python-dotenv==1.0.1
PyYAML==6.0.1
sqlparse==0.4.4
tablib==3.5.0
